.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader__1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    border-top-color: rgb(50, 65, 85);
    border-bottom-color: rgb(50, 65, 85);
    width: 60px;
    height: 60px;
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
}

.Loader__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 50%;
    border-top-color: lightsteelblue;
    border-bottom-color: lightsteelblue;
    width: 50px;
    height: 50px;
    -webkit-animation: rotate-reverse 1s linear infinite;
    animation: rotate-reverse 1s linear infinite;
}

.Loader__3 {
    border: 1px solid transparent;
    border-radius: 50%;
    border-top-color:rgb(50, 65, 85);
    border-bottom-color: rgb(50, 65, 85);
    width: 40px;
    height: 40px;
    -webkit-animation: rotate 600ms linear infinite;
    animation: rotate 600ms linear infinite;
}

@-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotate {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes rotate-reverse {
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes rotate-reverse {
    100% { transform: rotate(-360deg); }
}