.CommentLoader {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    margin: 2rem auto;
    padding: 1rem 2rem;
}

.CommentLoader > * {
    margin: 0.5rem 0;
}

.CommentLoader__author strong {
    color:lightgray;
    background: lightgray;
    border-radius: 5px;
    opacity: 0.7;
}

.CommentLoader__body {
    color:lightgray;
    background: lightgray;
    border-radius: 5px;
    opacity: 0.7;
    overflow: hidden;
}

.CommentLoader__ups strong {
    color:lightgray;
    background: lightgray;
    border-radius: 5px;
    opacity: 0.7;
}