.Posts__trending ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Posts__trending__error {
    width: 75%;
    margin: 4rem auto auto auto;
}

.Posts__trending li {
    list-style: none;
}

.Posts__latest {
    width: 75%;
    margin: 4rem auto auto auto;
}

.Posts__latest__error {
    margin: 2rem 0;
}

.Posts__latest li {
    list-style: none;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {
    .Posts__latest, .Posts__trending__error {
        padding-top: 0.05rem;
    }
}

@media only screen and (max-width: 550px) {
    .Posts__latest, .Posts__trending__error {
        width: 90%;
    }
}