.FilterList {
    width: 100%;
    margin-top: 2rem;
}

.FilterList__title {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 1rem;
}

.FilterList__prompt {
    font-size: 1.25rem;
    margin: 2rem 0;
}

.FilterList__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}

.FilterList li {
    list-style: none;
}

/* Media Queries */

@media only screen and (max-width: 1200px) {

    .FilterList__container {
        width: 95%;
    }
}